<div class="parallax-container parallax-two" data-parallax="scroll" data-image-src="//c2.staticflickr.com/8/7146/6564310927_06821d1ca3_o.jpg">

  <section class="showcase intro">
  	<div class="modular-row">
  		<div class="column">
        <h1 class="site-title">{{ page.header.sitename }}</h1>
    		<h2 class="sub-title">{{ page.header.tagline }}</h2>
  		</div>
  		<div class="column">

  			{{ content }}

  		</div>
  	</div>
  </section>

</div>
